.metadata .likes,
.metadata .edit {
    display: inline-block;
}

.metadata .likes {
    float: right;
    font-size: 20px;
    color: darkred;
    cursor: pointer;
}

.metadata .edit {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #00ab6b;
    cursor: pointer;
}